version: '3.8'

services:
  app:
    build: .
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://nest_user:nest_password@postgres:5432/nest_db?schema=public
    depends_on:
      - postgres
    volumes:
      - .:/app
      - /app/node_modules

  postgres:
    image: postgres:16-alpine
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=nest_user
      - POSTGRES_PASSWORD=nest_password
      - POSTGRES_DB=nest_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
